body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 30px 30px 30px;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 0;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  color: midnightblue;
}

#score {
  margin: 2px 0 10px 0;
  padding: 5px;
  color: rgb(99, 99, 131);
  text-align: center;
  font-weight: 700;
}

#score h3 {
  margin: 0;
}

#score div {
  display: flex;
  justify-content: space-between;
}

.min-height {
  min-height: 24px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input,
form label {
  width: 400px;
  margin: 5px 5px 5px 0;
}

form label {
  font-weight: 700;
}

form input {
  height: 30px;
  padding-left: 10px;
}

#start,
#reset {
  background-color: rgb(99, 99, 131);
  color: white;
  width: 100px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.d-none {
  display: none;
}

.gameboard button {
  min-width: 33%;
  min-height: 100px;
  font-size: 30px;
  color: rgb(145, 139, 139);
}
